<h2>To-Do List</h2>
 {% if items %}
{% for x in items %}
<p>{{ x.task_name }} - {{ x.pub_date|date:"D d M Y" }} </p>
<p>{{ x.about_task }}</p>

<button class="button_{% if not x.complete %}not{% endif %}complete"><a href="{% url toggle_complete 'x.complete',  'x.id' %}"/>
{% if x.complete %}Not Completed{% else %}Completed{% endif %}</button>

{% endfor %}

{% else %}
	<p>You have no more tasks to do!</p>
{% endif %}
<script type= 'text/javascript' src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script language="javascript">
      
      var COMPLETE_PRE_ID = "{% url toggle_complete 'x.complete',  'x.id' %}"
      COMPLETE_PRE_ID = COMPLETE_PRE_ID.substring(0, COMPLETE_PRE_ID.length - "999999999/".length);
   </script>
   <script type='text/javascript' src="/complete.js"></script>
